 @import 'config';


body {
    background: $blue;
    color: $white;
    position: relative;
    height: 100vh;
    width: 100vw;

    @include mobile {
        @include flexCenter(column);
    }

    @include desktop {
        @include flexCenter(row);
    }
}

header {

    p {
        font-weight: weights(extra);
        font-size: $two;
    }

    @include desktop {
        position: absolute;
        top:0;
        left: 0;
        z-index: 2;
        margin: 2rem;
    }

    @include mobile {
        margin: 3rem 1rem;
    }
}

.text-area {

    h1 {
        font-weight: weights(bold);
    }

    p {
        font-weight: weights(light);
    }

    @include desktop {
        width: 60%;
        @include flexCenter(column);
        padding: 2rem;

        h1 {
            font-size: 3rem;
        }

        p {
            font-size: 2rem;
            margin-bottom: $two;
        }
    }

    @include mobile {
        text-align: center;
        margin: 0 $two;

        h1 {
            font-size: 2rem;
        }

        p {
            font-size: .9rem;
            margin-bottom: $two;
        }
    }
}

.form-area{
    background-color: white;

    form {
        color: $blue;

        .form-control {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            margin-bottom: .8rem;

            label {
                font-weight: weights(bold);
            }

            input {
                padding: 5px 0;
                border-radius: 5px;
                margin-bottom: 10px;
                border: 1px solid $grey;
                color: $grey;

                &::placeholder {
                    color: $grey;
                    padding: 0 5px;
                }

                &:focus {
                    border: 1px solid rgba($blue, .5);
                }
            }

            small {
                color: $orange;
                // visibility: hidden;
            }
        }

        button {
            background: $orange;
            color: $white;
            border-radius: 10px;
            font-size: 16px;
            padding: 5px;
            margin-top: 5px;
            width: 100%;
            cursor: pointer;
            border: 1px solid $orange;
        }
    }

    @include desktop {
        height: 100vh;
        width: 40%;
        @include flexCenter(column);

        form {
            width: 70%;
            padding: 3rem;
            border-radius: 20px;
            box-shadow: 0 5px 20px rgba($blue, .1);
        }
    }

    @include mobile {
        border-radius: 20px;
        width: 90vw;
        margin-bottom: 10rem;

        form {
            padding: 30px 40px;

            .form-control {
                padding-bottom: $one;
            }
        }
    }
}

footer {
    @include flexCenter(column);
    margin: 2rem;

    .social {
        @include flexCenter(row);
        margin-bottom: $one;

        .fa-stack {
            font-size: 1.2rem;
        }
    }

    p {
        font-size: .8rem;
        font-weight: weights(light);
    }


    @include desktop {
        position: absolute;
        right: 0;
        bottom: 0;

        p {
            color: $blue;
        }

        .social {
            .fas {
                color:$orange;
            }

            .fab {
                color: $white;
            }
        }
    }

    @include mobile {
        position: absolute;
        bottom: 0;

        p {
            color: $white;
        }

        .social {
            .fas {
                color:$white;
            }

            .fab {
                color: $orange;
            }
        }
    }

}