@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Martel", sans-serif;
}

html {
  font-size: 15px;
}

*, *:focus, *:hover {
  outline: none;
}

body {
  background: #14213D;
  color: #fff;
  position: relative;
  height: 100vh;
  width: 100vw;
}

@media (max-width: 770px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 771px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

header p {
  font-weight: 900;
  font-size: 2rem;
}

@media (min-width: 771px) {
  header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    margin: 2rem;
  }
}

@media (max-width: 770px) {
  header {
    margin: 3rem 1rem;
  }
}

.text-area h1 {
  font-weight: 700;
}

.text-area p {
  font-weight: 300;
}

@media (min-width: 771px) {
  .text-area {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
  }
  .text-area h1 {
    font-size: 3rem;
  }
  .text-area p {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 770px) {
  .text-area {
    text-align: center;
    margin: 0 2rem;
  }
  .text-area h1 {
    font-size: 2rem;
  }
  .text-area p {
    font-size: .9rem;
    margin-bottom: 2rem;
  }
}

.form-area {
  background-color: white;
}

.form-area form {
  color: #14213D;
}

.form-area form .form-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: .8rem;
}

.form-area form .form-control label {
  font-weight: 700;
}

.form-area form .form-control input {
  padding: 5px 0;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
  color: #e5e5e5;
}

.form-area form .form-control input::-webkit-input-placeholder {
  color: #e5e5e5;
  padding: 0 5px;
}

.form-area form .form-control input:-ms-input-placeholder {
  color: #e5e5e5;
  padding: 0 5px;
}

.form-area form .form-control input::-ms-input-placeholder {
  color: #e5e5e5;
  padding: 0 5px;
}

.form-area form .form-control input::placeholder {
  color: #e5e5e5;
  padding: 0 5px;
}

.form-area form .form-control input:focus {
  border: 1px solid rgba(20, 33, 61, 0.5);
}

.form-area form .form-control small {
  color: #fca311;
}

.form-area form button {
  background: #fca311;
  color: #fff;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px;
  margin-top: 5px;
  width: 100%;
  cursor: pointer;
  border: 1px solid #fca311;
}

@media (min-width: 771px) {
  .form-area {
    height: 100vh;
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-area form {
    width: 70%;
    padding: 3rem;
    border-radius: 20px;
    -webkit-box-shadow: 0 5px 20px rgba(20, 33, 61, 0.1);
            box-shadow: 0 5px 20px rgba(20, 33, 61, 0.1);
  }
}

@media (max-width: 770px) {
  .form-area {
    border-radius: 20px;
    width: 90vw;
    margin-bottom: 10rem;
  }
  .form-area form {
    padding: 30px 40px;
  }
  .form-area form .form-control {
    padding-bottom: 1rem;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1rem;
}

footer .social .fa-stack {
  font-size: 1.2rem;
}

footer p {
  font-size: .8rem;
  font-weight: 300;
}

@media (min-width: 771px) {
  footer {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  footer p {
    color: #14213D;
  }
  footer .social .fas {
    color: #fca311;
  }
  footer .social .fab {
    color: #fff;
  }
}

@media (max-width: 770px) {
  footer {
    position: absolute;
    bottom: 0;
  }
  footer p {
    color: #fff;
  }
  footer .social .fas {
    color: #fff;
  }
  footer .social .fab {
    color: #fca311;
  }
}
/*# sourceMappingURL=styles.css.map */